<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <title>Note App</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.3/handlebars.min.js"
          integrity="sha256-/PJBs6QWvXijOFIX04kZpLb6ZtSQckdOIavLWKKOgXU=" crossorigin="anonymous" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js"
          integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ=="
          crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
  <script src="../scripts/services/utils.js" defer></script>
  <script src="../scripts/controller/edit-note-controller.js" type="module" defer></script>

  <script id="edit-note-template" type="text/x-handlebars-template">
    <label for="edit-note-title">Title</label>
    <input id="edit-note-title" name="edit-note-title" type="text" value="{{ title }}">
    <label for="edit-note-description">Description</label>
    <textarea name="edit-note-description" id="edit-note-description">{{ description }}</textarea>
    <label for="edit-note-importance">Importance</label>
    <select id="edit-note-importance" name="edit-note-importance">
      {{ option importance }}
    </select>
    <label for="edit-note-due-date">Due date</label>
    <input id="edit-note-due-date" name="edit-note-due-date" type="date" value="{{ dueDate }}">
  </script>

  <script id="edit-note-message-template" type="text/x-handlebars-template">
    <div class="message {{ stylingClass }}">{{ message }}</div>
  </script>

  <link rel="stylesheet" href="../styles/index.css">
</head>
<body class="edit-note-container">
<main>
  <h1 class="edit-note-title">Edit note</h1>
  <form id="edit-note-form" class="edit-note-form">
    <input type="hidden" name="_method" value="PATCH">
    <div class="edit-note-cancel-button-container">
      <a class="edit-note-cancel-button custom-button" href="../index.html">Cancel</a>
    </div>
    <button class="edit-note-save-button custom-button" type="submit">Save</button>
  </form>
</main>
</body>
</html>
