:root {
    --body-background-color: lightblue;
    --body-font-color: black;
    --select-color: inherit;
    --card-background-color: white;
    --primary-button-fill-color: yellow;
    --secondary-button-fill-color: #f0f0f0;
    --hover-button-fill-color: lightpink;
    --active-button-fill-color: skyblue;
    --alert-button-fill-color: #f78798;
    --hover-alert-button-fill-color: #f1536b;
    --disabled-button-fill-color: #e0e0cb;
    --border-style: solid 2px black;
    --box-shadow: 2px 4px black;
    --success-color: lightgreen;
    --alert-color: lightcoral;
}

.dark-mode {
    --body-background-color: #151219;
    --body-font-color: #f3f2f0;
    --select-color: black;
    --card-background-color: #575559;
    --primary-button-fill-color: #394040;
    --secondary-button-fill-color: #0d0d0d;
    --hover-button-fill-color: #465559;
    --active-button-fill-color: #403b39;
    --alert-button-fill-color: #a7292c;
    --hover-alert-button-fill-color: #250000;
    --disabled-button-fill-color: #b0a7a4;
    --border-style: solid 2px #f3f2f0;
    --box-shadow: 2px 4px #f3f2f0;
    --success-color: #447452;
    --alert-color: #a7292c;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: var(--body-background-color);
    color: var(--body-font-color);
}

.note-list-container header {
    width: 100%;
    height: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem 4rem;
}

header.controls {
    background-color: var(--body-background-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main.notes-container {
    width: 100%;
    margin-top: 10rem;
    padding: 0 4rem;
}

a {
    text-decoration: none;
    color: inherit;
}

button,
select {
    color: inherit;
}

input[type=checkbox] {
    margin-right: 0.5rem;
}

.app-style-form {
    padding: 0 1rem;
}

#app-style-switch {
    min-width: unset;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 5px;
    background-color: var(--active-button-fill-color);
    cursor: pointer;
}

.moon {
    display: block;
}

.sun {
    display: none;
}

.dark-mode .moon {
    display: none;
}

.dark-mode .sun {
    display: block;
}

.basic-controls,
.filter-controls {
    width: 100%;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.custom-button,
.custom-control,
.note-card {
    display: inline-block;
    min-width: 10rem;
    padding: 10px 7px;
    border: var(--border-style);
    box-shadow: var(--box-shadow);
    border-radius: 2px;
}

.custom-button,
.custom-control {
    font-size: 100%;
    text-align: center;
    background-color: var(--secondary-button-fill-color);
}

.custom-button:hover,
.custom-button:focus {
    background-color: var(--hover-button-fill-color);
}

.custom-button.active-filter {
    background-color: var(--active-button-fill-color);
}

.custom-control:hover {
    background-color: var(--hover-button-fill-color);
}

.custom-control:focus,
.custom-control:active {
    background-color: var(--secondary-button-fill-color);
}

.note-card {
    padding: 1.5rem;
    margin-bottom: 2rem;
    background-color: var(--card-background-color);
    display: grid;
    grid-template-columns: 1fr repeat(2, 2fr) 1fr;
    grid-template-rows: 1fr auto 1fr;
    grid-template-areas:
        "note-state note-title note-importance note-buttons"
        "note-state note-description note-description note-buttons"
        "note-state note-created-date note-due-date note-buttons";
    column-gap: 1rem;
    row-gap: 0.5rem;
}

.note-date {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0 1rem;
}

.note-state {
    grid-area: note-state;
    display: flex;
    align-items: center;
}

.note-title {
    grid-area: note-title;
    font-weight: bold;
}

.note-importance {
    grid-area: note-importance;
}

.note-description {
    grid-area: note-description;
    margin-bottom: 0.8rem;
}

.note-created-date {
    grid-area: note-created-date;
}

.note-due-date {
    grid-area: note-due-date;
}

.button-container {
    grid-area: note-buttons;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.note-edit-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

.note-delete-button {
    grid-area: delete-button;
    cursor: pointer;
    background-color: var(--alert-button-fill-color);
}

.note-delete-button:focus,
.note-delete-button:hover {
    background-color: var(--hover-alert-button-fill-color);
}

.note-edit-button {
    background-color: var(--primary-button-fill-color);
}

.disabled-button {
    background-color: var(--disabled-button-fill-color) !important;
}

.disabled-button:focus,
.disabled-button:hover {
    background-color: var(--disabled-button-fill-color) !important;
}

.hidden-label {
    position: absolute;
    top: -10000px;
    left: -10000px;
    z-index: -10000;
    font-size: 0;
}

/* New/ Edit Note Page --------------------------------------------- */

body.add-note-container,
body.edit-note-container {
    width: 100%;
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-note-container header,
.edit-note-container header {
    width: 50%;
    text-align: right;
    margin-bottom: 1rem;
}

.add-note-container main,
.edit-note-container main {
    width: 50%;
    border: var(--border-style);
    box-shadow: var(--box-shadow);
    background-color: var(--card-background-color);
}

.add-note-title,
.edit-note-title,
.add-note-cancel-button-container,
.edit-note-cancel-button-container {
    background-color: var(--card-background-color);
    width: 100%;
}

.add-note-title,
.edit-note-title {
    padding: 2rem 2rem 0;
}

.message {
    margin: 2rem 2rem 0;
    padding: 0.25rem;
}

.success-message {
    background-color: var(--success-color);
}

.alert-message {
    background-color: var(--alert-color);
}

.add-note-form,
.edit-note-form {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: 1.75rem 2fr repeat(2, 1.75rem) 1fr;
    grid-template-areas:
        "edit-title-label edit-title-input edit-title-input"
        "edit-description-label edit-description-textarea edit-description-textarea"
        "edit-importance-label edit-importance-select edit-importance-select"
        "edit-due-date-label edit-due-date-input edit-due-date-input"
        "delete-button edit-cancel-button edit-save-button";
    column-gap: 2rem;
    row-gap: 2rem;
}

.edit-note-form .note-delete-button {
    margin-top: 1rem;
}

.add-note-form input,
.add-note-form textarea,
.add-note-form select,
.edit-note-form input,
.edit-note-form textarea,
.edit-note-form select {
    padding: 0.25rem;
    font-family: inherit;
    font-size: 0.9em;
}

.add-note-form select,
.edit-note-form select {
    color: var(--select-color);
}

label[for="add-note-title"],
label[for="edit-note-title"] {
    grid-area: edit-title-label;
}

input#add-note-title,
input#edit-note-title {
    grid-area: edit-title-input;
}

label[for="add-note-description"],
label[for="edit-note-description"] {
    grid-area: edit-description-label;
}

textarea#add-note-description,
textarea#edit-note-description {
    grid-area: edit-description-textarea;
}

label[for="add-note-importance"],
label[for="edit-note-importance"] {
    grid-area: edit-importance-label;
}

select#add-note-importance,
select#edit-note-importance {
    grid-area: edit-importance-select;
}

label[for="add-note-due-date"],
label[for="edit-note-due-date"] {
    grid-area: edit-due-date-label;
}

input#add-note-due-date,
input#edit-note-due-date {
    grid-area: edit-due-date-input;
}

.add-note-save-button,
.edit-note-save-button {
    grid-area: edit-save-button;
    margin-top: 1rem;
    background-color: var(--primary-button-fill-color);
}

.add-note-cancel-button-container,
.edit-note-cancel-button-container {
    grid-area: edit-cancel-button;
    margin-top: 1rem;
}

.add-note-cancel-button-container a,
.edit-note-cancel-button-container a {
    width: 100%;
}
